header{
    height: 60px;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    a{
        text-decoration: none;
        color: white;
        margin-right: 15px;
        font-size: 18px;
    }
}
